@model Formularz.Models.Dane

@{
    ViewData["Title"] = "Formularz";
}

<h1>Formularz rejestracyjny</h1>

<form asp-action="Index" method="post">
    <div>
        <label>Imię</label>
        <input asp-for="Imie" />
        <span asp-validation-for="Imie"></span>
    </div>
    <div>
        <label>Nazwisko</label>
        <input asp-for="Nazwisko" />
        <span asp-validation-for="Nazwisko"></span>
    </div>
    <div>
        <label>Adres e-mail</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Hasło</label>
        <input asp-for="Haslo" type="password" />
        <span asp-validation-for="Haslo"></span>
    </div>
    <div>
        <label>Potwierdź hasło</label>
        <input asp-for="PotwHaslo" type="password" />
        <span asp-validation-for="PotwHaslo"></span>
    </div>
    <div>
        <label>Nr telefonu</label>
        <input asp-for="Tel" type="tel" />
        <span asp-validation-for="Tel"></span>
    </div>
    <div>
        <label>Wiek</label>
        <input asp-for="Wiek" type="number" />
        <span asp-validation-for="Wiek"></span>
    </div>
    <div>
        <label>Miasto</label>
        <select asp-for="Miasto" asp-items="Html.GetEnumSelectList<Dane.Miasta>()"></select>
        <span asp-validation-for="Miasto"></span>
    </div>
    <div>
        <button type="submit">Zarejestruj</button>
        <button type="reset">Wyczyść</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
